{{> header}}
<div class="container">
 <h2>Films</h2>
<p>Movie Detail</p>


 
<div class="card" style="width: 25rem;">
    {{#if data}}
    {{#each data}}

  <img class="card-img-top" src="/photo/{{this.photo}}" alt="Card image cap">
   
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <h6 class="card-title">Genre: {{this.genre}}</h6>
    <h6 class="card-title">Release Date: {{this.release_date}}</h6>
    <h6 class="card-title">Ratings : {{this.ratings}}</h6>
    <h6 class="card-title">Ratings : {{this.ratings}}</h6>
    <h6 class="card-title">Country : {{this.country}}</h6>
    <h6 class="card-title">Ticket Price : {{this.ticket_price}}</h6>
    
    <br>
    <a target = "#_" href="../films" class="btn btn-primary">Back To Listing</a>
  </div>
  {{/each}}
  {{/if}}
  {{#else}}
  <p>Record not found</p>
  {{/else}}


</div>

